@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --main-bg-color: #101212;
    --secondary-bg-color: #212529;
    --tertiary-bg-color: #495057;
    /* --text-color: #adb5bd; */
    --text-color: #a0a0a0;
}

@font-face {
    font-family: "8bitFont";
    src: url('../../public//fonts//Minecraft.ttf');
}

.body-class {
    font-family: "8bitfont";
    letter-spacing: 2px;
    background-color: var(--main-bg-color);
    color: var(--text-color);
    overflow: hidden;
}
